html {
 margin: 0;
 padding: 0; 
 width: 100%;  
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(image/bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(117, 90, 16);
    display: block;
}

.logo {
    float: left;
    margin-left: 1px;
    padding: 0px 38px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.logo a{
    text-decoration: none;
    color:black
}

.nav{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
}

.nav ul{
    list-style: none;
    cursor: pointer;
    float: right;
    margin-right: 140px;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    color: rgb(22, 19, 7);
    font-family: 'Releway', sans-serif;
    padding: 15px 15px;
    font-weight: 400;
}

.nav ul li:hover {
    border-bottom: 3px solid white;
    transition: all .3s ease;
}

.header{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.header{
    color: #3f0808;
    text-align: left;
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 15px;
}

.header span{
    color: white;
}

.content-header{
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 52%;
    left: 73%;
}

.content-header p{
    color: #fff;
    font-family :'raleway', sans-serif;
    font-size: 12px;
    text-align: left;
    color:rgb(5, 0, 0);
}

text{
    width: 205px;
    height: 40px;
    border: none;
    border-radius: 10Spx;
    padding-left: 50px;
}

.search-input{
    width: 210px;
    height: 30px;
    background-color: aliceblue;
    border: none;
    border-radius: 5px 5px 5px 5px;
    float: left;
    padding-left: 15px;
    box-shadow: 19px 21px 53px  rgb(46, 46, 46, 0.66);
}

input { type="text"}:focus {
    outline:none;
}

.search-btn {
    width: 100px;
    height: 34px;
    border-radius: 0px 10px 0px;
    border: none;
    color: papayawhip;
    cursor: pointer;
    background-color: #014280;
    margin-left: -30px;
    margin-top: 0.5px;
    box-shadow: 0px 21px 53px rgb(46, 46, 46,0.66);
}

.search-btn:hover{
    transition: all.5s ease;
    background-color: #ff0b0b;
    box-shadow: 0px 21px 53px rgb(46, 46, 46,0.66);
}


.col.img{
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);
    width: 57%;
    text-align: -webkit-righ;
}

.col-img img{
    width: 57%;
}


    